a {
  text-decoration:none;
}
a:link {
  text-decoration:none;
}
a:visited a:hover {
  text-decoration:none;
}
img {
  display:none;
}
h1 {
  text-align: center;
}
table {
  width: 100%;
  border-collapse:collapse;
}
table td,table th {
  text-align:center;
  white-space: nowrap;
  border: 1px solid #DDDDDD;
}
